﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddCourse</title>
    <script>
        function ResetForm() {
            document.getElementById('TxtstdID').value = "";
            document.getElementById('TxtCNo').value = "";
            document.getElementById('TxtLGrade').value = "";
        }
    </script>
</head>
<body>
    <div>
        <form action="/Enrolment/SaveEnrolment" method="post">
            Student ID: <input type="text" id="TxtstdID" name="StudentID" value="" />
            <span style="color:red">@Html.ValidationMessage("StudentID")</span><br />
            Course No: <input type="text" id="TxtCNo" name="CourseNo" value="" />
            <span style="color:red">@Html.ValidationMessage("CourseNo")</span><br />
            Grade: <input type="text" id="TxtLGrade" name="Grade" value="" />
            <span style="color:red">@Html.ValidationMessage("Grade")</span><br />
            <input type="submit" name="BtnSubmit" value="Save Enrolment" />
            <input type="button" name="BtnReset" value="Reset" onclick="ResetForm();" />
            <input type="submit" name="BtnSubmit" value="Cancel" />
        </form>
    </div>
</body>
</html>
