﻿
@{
    Layout = null;
}
@using Test.ViewModels
@model StudentListViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <hr />
    <div>
        <table border="1">
            <tr>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Year</th>
                <th>GPA</th>
            </tr>
            @foreach (StudentViewModel item in Model.student)
            {
                <tr>
                    <td>@item.StudentID</td>
                    <td>@item.StudentName</td>
                    <td>@item.StudentYear</td>
                    <td>@item.StudentGPA</td>
                </tr>
            }
        </table>
        <a href="/Student/AddNew">Add New</a>
        <br />
        <a href="/Course/Index">Course</a>
        <br />
        <a href="/Enrolment/Index">Enrolment</a>
    </div>

</body>
</html>
