﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddCourse</title>
    <script>
        function ResetForm() {
            document.getElementById('TxtCNo').value = "";
            document.getElementById('TxtCName').value = "";
            document.getElementById('TxtLCredit').value = "";
        }
    </script>
</head>
<body>
    <div>
        <form action="/Course/SaveCourse" method="post">
            Course NO: <input type="text" id="TxtCNo" name="CourseNo" value="" /><br />
            Course Name: <input type="text" id="TxtCName" name="CourseName" value="" /><br />
            Credit: <input type="text" id="TxtLCredit" name="Credit" value="" /><br />
            <input type="submit" name="BtnSubmit" value="Save Course" />
            <input type="button" name="BtnReset" value="Reset" onclick="ResetForm();" />
            <input type="submit" name="BtnSubmit" value="Cancel" />
        </form>
    </div>
</body>
</html>
